body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  }

p,
span,
li {
  font-weight: 800;
  letter-spacing: 0.08px;
  line-height: 0.9;
  color: #021268;
}

.p1 {
  font-weight:lighter;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 1;
  color: #000000;
}
.p2 {
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 0.6px;
  line-height: 1;
  color: #000000;
}

.p3 {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 0.5;
  color: #000000;
}

.navbar {
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* border: 5px solid blue; */
  display: block;
  font-weight: 800;
}

.nav-list {
  /* border: 5px solid blue; */
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-list__item {
  /* border: 5px solid lime; */
  margin: 0 8px;
}

.nav-link {
  color: #212121;
  text-decoration: none;
  font-size: 12px;
}

.nav-link:hover {
  text-decoration: underline;
  color: blue;
}

.bg {
  /* Das Hintergrundbild */
  background-image: url('../images/2.jpg');

  /* Full height */
  min-height: 100%; 
  min-width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Stil für die Menüleiste mit Transparenz */
.menu-bar {
  overflow: hidden;
  background-color: rgba(206, 75, 0, 0.712); /* Dunkler Hintergrund mit Transparenz */
}

/* Stil für die Menülinks */
.menu-bar a {
  
  padding: 0px 0px;

  }

/* Container-Stil */
.container {
  border: 0;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.container2 {
  background-color: rgba(240, 130, 67, 0.863);
  border: 0;
  width: 80%;
  padding: 10px;
  margin:auto;
  
}



/* Stil für den Footer mit Transparenz */
.footer {
  background-color: rgba(206, 75, 0, 0.712);
  position:relative;
  left: 0;
  bottom: 0;
  top: 10px;
  width: 100%;
  color: white; /* Weiße Textfarbe */
  text-align: center;
  padding: 5px 5px;
  margin: 5px 5px;
  font-weight: 500;
  letter-spacing: 0.08px;
  line-height: 0.9;
  color: #021168d2;
   
}


 
 
